{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<title> Project Tasks</title>
<div class="col">
  <div class="card border-dark" >
      <h3 class="card-header"> Tasks of all projects</h3>

  </div>
</div>      
<table class="table table-sm table-responsive-sm table-hover text-nowrap table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
<tbody>
  {% for tache in taches %}
<tr>
  <td>{{tache.Name}}</td>
  <td>{{tache.Description}}</td>
  <td>{{tache.StartDate}}</td>
  <td>{{tache.EndDate}}</td>
  <td>{{tache.Status}}</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}