{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% load render_table from django_tables2 %}
<style>
  
 #projects-table th{
    color: DodgerBlue ;
   
 } 
 .button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #3a82ba;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background:#3b9dc4;
}



.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

    
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark" >
            <h3 class="card-header"> Projects List</h3>
    
        </div>
    </div>      
    <button id="create-project" type="button" class="button">
      <span class="button__text">Add New Project</span>
      <span class="button__icon">
        <ion-icon name="add-outline"></ion-icon>
      </span>
    </button>
<br>
	
</div>
{% render_table view_project %}
<a href="/calendar" class="btn btn-primary btn active" role="button" aria-pressed="true">View Calendar</a>
{% endblock %}        







