<style>
	.border-left{
		border-left:.25rem solid #0a3d62 !important;
	}
	.district{
		border-left:.25rem solid #9b59b6 !important;
	}
	.time{
		border-left:.25rem solid #55E6C1 !important;
	}
    </style>    


   
<div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Tasks </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ total_taches }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-blue-300" style="color:blue"></i>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
	<div class="card border-left-success shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
						Tasks To Do</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">{{ ToDo }}</div>
				</div>
				<div class="col-auto">
					
					<i class="fas fa-running fa-2x" style="color:green"></i>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="col-xl-3 col-md-6 mb-4">
	<div class="card border-left-info shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
						Tasks In Progress</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">{{ InProgress }}</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-chart-line fa-2x text-info"></i>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="col-xl-3 col-md-6 mb-4">
	<div class="card border-left-warning shadow h-100 py-2">
		<div class="card-body">
			<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
						Completed Tasks </div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">{{ Done }}</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-thumbs-up fa-2x text-warning" ></i>
				</div>
			</div>
		</div>
	</div>
</div>

